/* .back0{
    background: url("../image/Rickmorty1");
}
.back1{
    background: url("../image/Rickmorty2");
}
.back2{
    background: url("../image/Rickymorty3");
}
.back3{
    background: url("../image/Rickymorty4");
}
.back4{
    background: url("../image/Rickymorty6");
}
.back5{
    background: url("../image/Rickymorty7");
}
.back6{
    background: url("../image/Rickymorty8");
}
.back7{
    background: url("../image/Rickymorty9");
}
.back8{
    background: url("../image/Rickymorty10");
}
.back9{
    background: url("../image/Rickymorty11");
}
/*.front{
    background: linear-gradient(128.57deg, #00FF00 34.36%, rgba(248, 8, 224, 0.65) 101.04%);
    color: white;
    transform: rotateY(180deg);  
}*/ 